Package: com.faku99.workwork
Name: WorkWork!
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Stay productive.
Maintainer: faku99 <faku99dev@gmail.com>
Author: faku99 <faku99dev@gmail.com>
Section: Tweaks
